VAPID_SUBJECT=https://accountingpga.github.io/pga-crew-clock/
VAPID_PUBLIC_KEY=BD-c7u13VWKTjGRJabSz6NfuBGEhaQm5pbjAjQ13XEyzqDqS3Pr9eIApZ2pD4ahXqI12OWzjhScdbuRaspG93eU
VAPID_PRIVATE_KEY=store-this-in-secret-manager-not-github
PUSH_SENDER_TOKEN=store-this-in-secret-manager-and-apps-script-properties
PUSH_TTL_SECONDS=3600
